*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
/*
CORES PRINCIPAIS
#FFCD24-AMARELO
*/
.container{
    display: block;
    width: 86%;
    margin: 0 auto;
}
.headering{
    width: 100vw;
    height: 100vh;
    background: #FFCD24;
}
.content_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.ul_navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 3px solid #0006;
}
.first_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80vh;
    border-right: 3px solid #0006;
}
.first_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
}
.section_image_first{
    width: 80%;
}
.second_div{
    display: flex;
    justify-content: center;
    width: 40%;

}
.img_second_div{
    width: 70%;
}
.patrocinio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    width: 98%;
}